/* Fonts - Roboto */

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

/* Generelle Einstellungen */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-color: var(--secondary-color);
}

.container {
    max-width: 70rem;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h1,
h2 {
    letter-spacing: 2px;
    text-align: center;
}

h1.main-heading,
h2.main-heading {
    color: var(--secondary-color);
    padding: 1rem 0rem;
    background-color: #222;
    border-radius: 0.5rem;
}

p,
ul li {
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

/* Variablen */

:root {
    --primary-color: #473bf0;
    --secondary-color: #edf5fc;
    --shadow-color: #d2d6e4;
    --main-black: #222;
    --primary-color-rgb: 71, 59, 240;
    --secondary-color-rgb: 237, 245, 252;
    --main-black-rgb: 34, 34, 34;
    --primary-color-hover: #3930bf;
}
