section {
    margin-bottom: 2rem;
}

div.hero-section {
    position: relative;
}

div.hero-section > picture {
    filter: brightness(50%);
}

div.hero-section > picture > img {
    width: 100%;
    max-height: 10rem;
    object-fit: cover;
}

div.hero-section > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    animation: 1s linear 0s 1 mainTextAnimation;
}

@keyframes mainTextAnimation {
    0% {
        opacity: 0;
        top: 60%;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
}

main {
    padding: 0 1rem;
}

.img-container {
    margin: 1rem 0;
}

@media screen and (min-width: 40rem) and (max-width: 60rem) {
    .img-container > img {
        width: 100%;
    }
}

@media screen and (min-width: 60rem) {
    .img-container {
        display: flex;
        flex-flow: row wrap;
    }

    .img-container > img {
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 70rem) {
    section {
        margin: var(--hero-section-margin-top) 1rem;
    }

    div.hero-section {
        box-shadow: var(--hero-section-shadow);
        border-radius: var(--hero-section-border-radius);
    }

    div.hero-section > picture > img {
        border-radius: var(--hero-section-border-radius);
    }

}

@media screen and (min-width: 71rem) {
    main {
        padding: 0;
    }

    section {
        margin: var(--hero-section-margin-top) 0;
    }
}